#!name= LongForNoAds
#!desc= 龙湖App增强
#!openUrl = https://github.com/Gluvyi/QuanX/edit/main/LongforAd.config
#!author= Gluvyi
#!icon= https://ts1.tc.mm.bing.net/th/id/R-C.b9dc7df2a4c8da878dcc4b65a65c75bb?rik=DsjxV8VkoVitxA&riu=http%3a%2f%2fwww.kuaipng.com%2fUploads%2fpic%2fw%2f2021%2f04-10%2f99019%2fwater_99019_698_698_.png&ehk=93b%2fOd6rcrzHWtH3K%2bznd4Puk4pf05pFOi7ReFDF%2fEM%3d&risl=&pid=ImgRaw&r=0
#!date= 2025-3-15 02:11:45

[MITM]
hostname = gw2c-hw-open.longfor.com

[Script]
# 主页广告过滤规则
http-response ^https:\/\/gw2c-hw-open\.longfor\.com\/supera\/C4\/v1_11_0\/publicApi script-path=https://raw.githubusercontent.com/Gluvyi/QuanX/refs/heads/main/LongForHomeAd.js, requires-body=true, timeout=10
# 服务页面广告过滤规则
http-response ^https:\/\/gw2c-hw-open\.longfor\.com\/supera\/service\/v1_11_0\/publicApi\/serviceCard script-path=https://raw.githubusercontent.com/Gluvyi/QuanX/refs/heads/main/LongForHomeAd.js, requires-body=true, timeout=10
# 会员页面广告过滤规则
http-response ^https:\/\/gw2c-hw-open\.longfor\.com\/supera\/member\/api\/bff\/pages\/v1_11_0\/publicApi\/v1 script-path=https://raw.githubusercontent.com/Gluvyi/QuanX/refs/heads/main/LongForHomeAd.js, requires-body=true, timeout=10
